<html>

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img{
display:inline
}
</style>
</head>

   <body>
 <form action = "/recommendation?uname={{uname}}" method = "post">
         <h3>{{uname}} , our records show you are {{segment}} customer , you are eligible for : {{ promo[0] }}</h3>
 <ul>
     <hr style=size : 30px">
             <h3>Already Purchased books</h3>
<hr style=size : 30px">
            {% for ap in purchased_books %}

               <p><input type = "submit" name = "title" value="{{ ap[5] }}"
                         style="height:50px; width:200px" /></p>
           <img src="{{ap[8]}}" style="width:10%"/>
                <li>Author : {{ ap[1] }}</li>
                <li>Genre : {{ ap[7] }}</li>
                 <li>Book Pages : {{ ap[2] }}</li>
                <li>Price : {{ ap[9] }}</li>
                <li>Rating : {{ ap[0] }}</li> <br>
            {% endfor %}
 </ul>
                   <h2>Browse a book</h2>
        <input type="hidden" name="uid" value={{uid}} />
        <input type="hidden" name="uname" value={{uname}} />


<!--     start 04/20-->
<hr style=size : 30px">

           <p style="font-size : 20px">Book Title: <input type = "text" name="custom_title"/></p>
            <p><input type = "submit" name= "title" value = "Submit"
                      style="height:50px; width:100px"/>
<!--             end 04/20-->
     <hr style=size : 30px">

 <h3> We have few books suggestions for you , based on your reading history </h3>
     <ul>
         <hr style=size : 30px">
          <h3>Recommendation based on Genres</h3>
         <hr style=size : 30px">
            {% for g in recommendations_genre %}
         <br>
              <p><input type = "submit" name = "title"  value="{{ g[9] }}"
               style="height:50px; width:200px"/></p>
<!--              <li>Title: {{ g[9] }}</li>-->
               <img src="{{g[12]}}" width="150" height="200"/>
              <li>Author: {{ g[4] }}</li>
              <li>Genre: {{ g[11] }}</li>
               <li>Price: {{ g[15] }}</li>
              <li>Rating: {{ g[3] }}</li><br>

            {% endfor %}
<hr style=size : 30px">
              <h3>Recommendation based on authors</h3>
         <hr style=size : 30px">
            {% for a in recommendations_author %}
                  <p><input type = "submit" name = "title" value="{{ a[9] }}"
                  style="height:50px; width:200px"/></p>
<!--          <li>Title: {{ a[9] }}</li>-->
               <img src="{{a[12]}}" width="150" height="200"/>
              <li>Author: {{ a[4] }}</li>
              <li>Genre: {{ a[11] }}</li>
               <li>Price: {{ a[15] }}</li>
              <li>Rating: {{ a[3] }}</li><br>
            {% endfor %}

         <hr style=size : 30px">
                  <h3>Recommendation based on pages</h3>
         <hr style=size : 30px">
            {% for bp in recommendations_bookpages %}
                      <p><input type = "submit" name = "title" value="{{ bp[9] }}"
                      style="height:50px; width:200px"/></p>
<!--        <li>Title: {{ bp[9] }}</li>-->
               <img src="{{bp[12]}}" width="150" height="200" />
              <li>Author: {{ bp[4] }}</li>
              <li>Genre: {{ bp[11] }}</li>
               <li>Price: {{ bp[15] }}</li>
              <li>Rating: {{ bp[3] }}</li><br>
            {% endfor %}
         </ul>
      </form>
   </body>
</html>