<html>
   <body>
<!--      <form action = "http://localhost:5000/books" method = "post">-->
            <form action = "/books" method = "post">

         <h3>Welcome to Pick -A - Book , Browse books & Enjoy reading!</h3>


         <p>Name: <input type = "text" name = "name" required="true" /></p>
         <p>UserID: <input type = "number" name = "uid" required="true" /></p>
         <p>Age: <input type = "text" name = "age" required="true" /></p>

         <p><input type = "submit" value = "Login" /></p>
      </form>
   </body>
</html>